h2 {
  font-family: Baskerville, Garamond, 'Hoefler Text', 'Times New Roman', Times, serif;
  font-size: 60px;
  line-height: 1.5em;
  text-shadow: 0 -1px 0 #777;
}

hr {
  background-color: #252525;
  color: #252525;
  float: left;
  height: 4px;
  clear: both;
  border: 1px solid #444;
  width: 650px;
}

#topSection {
    width: 650px;
}

#aboutMe {
  width: 400px;
  float: left;
}

#bottomSection {
  width: 650px;
  clear: both;
}

#pic {
  float: right;
}

.last {
  margin-right: 0px;
}

a {
  color:#7389A0;
  text-decoration:none;
}
body {
  background: url(/media/img/irongrip.png) repeat;
  color: #ccc;
}
