/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
}

nav h1, nav h4 {
  font-family: 'Input Sans', sans-serif !important;
}

#nav-under {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 58px;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: 1;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 58px;
  /*width: 200px;
  padding-top: 100px;*/
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  z-index: 2;
}

nav ul {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    padding-top: 0px;
    list-style-type: none;
}

nav li {
  margin: 0em;
  padding: 5px;
}

nav a {
    color: #4F5255;
}

nav a.icon {
    display: block;
    font-size: 150%;
    margin-top: 0.5em;
}

.nav1, .nav3 {
  float: left;
}

.nav1 {
    margin-right: 25px;
}

.nav4, .nav5 {
    float: right;
}

#all-but-nav {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
@media (min-width: 800px) {
    #all-but-nav {
      max-width: 800px;
    }
}
@media (max-width: 799px) {
    #all-but-nav {
        padding: 0 10px;
    }
}

#title, #published, #last_edited {
  position: fixed;
  left: 0;
  width: 250px;
  padding: 20px;
}

#title {
  top: 0px;
}

#published {
  top: 100px;
}

#last_edited {
  top: 125px;
}

.content {
  text-align: justify;
  padding: 0px 20px 100px 10px;
}

.container {
  text-align: justify;
  padding: 75px 20px 100px 10px;
}

body {
  font-family: Adobe Garamond, Baskerville, Garamond, Hoefler Text, Times New Roman, Times, serif;
  font-size:14pt;
  line-height:1.45em;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: 200;
  margin: 0.83em 0px 0.5em;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.125em;
  font-weight: 200;
  margin: 0.83em 0px 0.5em;
}

h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.0em;
  font-weight: 200;
  margin: 0.83em 0px 0.5em;
}

h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 200;
  margin: 0.83em 0px 0.5em;
}
a {
  text-decoration: none;
  color: #7389A0;
}
.block:last-child {
  margin-bottom: 50px;
}
.clear:before, .clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}

@media print {
    nav {
        display: none;
    }

    /* print link locations but not for internal links */
    p a[href^="http://"]:after, a[href^="https://"]:after {
        content: " (" attr(href) ")";
    }

    /* now that we're printing these links, we should wrap them */
    p a {
        word-wrap: break-word;
    }
}
