/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*end reset*/


nav h1, nav h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*width: 200px;
  padding-top: 100px;*/
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

nav ul {
    padding: 20px;
    padding-top: 0px;
    list-style-type: none;
}

nav li {
  float: left;
  margin: 0em;
  padding: 5px;
}

nav a {
    color: #4F5255;
}

nav a.icon {
    display: block;
    margin-top: 0.85em;
}

.nav1 {
    margin-left: 45px;
}

.nav2, .nav4 {
    margin-left: 50px;
}

.nav3 {
    margin-left: 15px;
}

#all-but-nav {
  margin-left: 50px;
  margin-top: 50px;
  max-width: 1000px;
  margin-bottom: 100px;
}

#title, #published, #last_edited {
  position: fixed;
  left: 0;
  width: 250px;
  padding: 20px;
}

#title {
  top: 0px;
}

#published {
  top: 100px;
}

#last_edited {
  top: 125px;
}

.content {
  text-align: justify;
  padding: 0px 20px 100px 10px;
}

.container {
  text-align: justify;
  padding: 75px 20px 100px 10px;
}

body {
  font-family: Adobe Garamond, Baskerville, Garamond, Hoefler Text, Times New Roman, Times, serif;
  font-size:14pt;
  line-height:1.45em;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.25em;
  font-weight: 200;
  margin: 0.83em 0px 0.5em;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.125em;
  font-weight: 200;
  margin: 0.83em 0px 0.5em;
}

h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.0em;
  font-weight: 200;
  margin: 0.83em 0px 0.5em;
}

h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 200;
  margin: 0.83em 0px 0.5em;
}
a {
  text-decoration: none;
  color: #7389A0;
}
.block:last-child {
  margin-bottom: 50px;
}
.clear:before, .clear:after {
  content: "",
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  zoom: 1;
}
