#all-but-nav {
    margin-top: 100px;
    padding: 20px;
}
.linenodiv {margin-right: 1em;}
h1, h2 {
    color: #F2583E;
    line-height: 1.1em;
}
h2 {font-size: 2em;}
p {color: #2B3E42; margin: 1em 0;}
code, pre {font-size: 13px;}
pre {line-height: 1.2;}
a {color: #77BED2;}
ol {padding-left: 1em; padding-top: 0.25em;}
body {background-color: #F7F3E8; color: #2B3E42; margin-bottom: 100px; margin-right: 60px;}
.c1, .ow {color: #F2583E;/*#77BED2;*/}/*equals*/
.kt {color: #747E80;}/*names*/
.kr {color: #2B3E42;}/*newtype, data*/
.haskell, .ghci {margin-top: 0.5em; margin-bottom: 1em;}

@media screen and (max-width: 600px) {
    #constraints {
        width: 100%;
    }
}
