.linenodiv {margin-right: 1em;}
h1, h2, h3, h4 {color: #a31e39; font-family: 'Neuton', arial, serif; font-family: 'Neuton', arial, serif; }
#bigIntro { 
  font-family: 'Neuton', arial, serif; 
  font-size: 4em;
  line-height: 1.2em;
}
p {
  color: #ddecef;
  font-family: 'Crimson Text', arial, serif;
  font-size: 16px;
  margin-bottom: 1em;
}
code, pre {font-size: 13px;}
pre {
  line-height: 1.2; 
  margin-top: 1em;
  margin-left: 2em; 
  margin-bottom: 2em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
a {color: #93a6d0;}
ol {padding-left: 1em; padding-top: 0.25em;}
body {background-color: #10294a; color: #ddecef; margin-bottom: 100px; margin-right: 60px; font-family: 'Vollkorn', arial, serif;}
