.container {width:1024px;margin:0 auto;}
.showgrid {background:url(src/grid.png);}
body {margin:1.5em 0;}
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11 {float:left;margin-right: 10px;}

div.last {margin-right:0;}
.span-1  { width: 84px;}
.span-2  { width: 178px;}
.span-3  { width: 272px;}
.span-4  { width: 366px;}
.span-5  { width: 460px;}
.span-6  { width: 554px;}
.span-7  { width: 648px;}
.span-8  { width: 742px;}
.span-9  { width: 836px;}
.span-10 { width: 930px;}
.span-11, div.span-11 { width: 1024px; margin: 0; }

.append-1  { padding-right: 94px;}
.append-2  { padding-right: 188px;}
.append-3  { padding-right: 282px;}
.append-4  { padding-right: 376px;}
.append-5  { padding-right: 470px;}
.append-6  { padding-right: 564px;}
.append-7  { padding-right: 658px;}
.append-8  { padding-right: 752px;}
.append-9  { padding-right: 846px;}
.append-10 { padding-right: 940px;}

.prepend-1  { padding-left: 94px;}
.prepend-2  { padding-left: 188px;}
.prepend-3  { padding-left: 282px;}
.prepend-4  { padding-left: 376px;}
.prepend-5  { padding-left: 470px;}
.prepend-6  { padding-left: 564px;}
.prepend-7  { padding-left: 658px;}
.prepend-8  { padding-left: 752px;}
.prepend-9  { padding-left: 846px;}
.prepend-10 { padding-left: 940px;}

div.border{padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
div.colborder { padding-right:80px;margin-right:79px;border-right:1px solid #eee;}
.pull-1 { margin-left: -94px;}
.pull-2 { margin-left: -188px;}
.pull-3 { margin-left: -282px;}
.pull-4 { margin-left: -376px;}
.pull-5 { margin-left: -470px;}
.pull-6 { margin-left: -564px;}
.pull-7 { margin-left: -658px;}
.pull-8 { margin-left: -752px;}
.pull-9 { margin-left: -846px;}
.pull-10 { margin-left: -940px;}
.pull-11 { margin-left: -1034px;}

.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11 {float:left;position:relative;}

.push-1 { margin: 0 -94px 1.5em 94px;}
.push-2 { margin: 0 -188px 1.5em 188px;}
.push-3 { margin: 0 -282px 1.5em 282px;}
.push-4 { margin: 0 -376px 1.5em 376px;}
.push-5 { margin: 0 -470px 1.5em 470px;}
.push-6 { margin: 0 -564px 1.5em 564px;}
.push-7 { margin: 0 -658px 1.5em 658px;}
.push-8 { margin: 0 -752px 1.5em 752px;}
.push-9 { margin: 0 -846px 1.5em 846px;}
.push-10 { margin: 0 -940px 1.5em 940px;}
.push-11 { margin: 0 -1034px 1.5em 1034px;}

.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11 {float:right;position:relative;}

.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
.clearfix, .container {display:block;}
.clear {clear:both;}