@import url(http://fonts.googleapis.com/css?family=Miniver);
@import url(http://fonts.googleapis.com/css?family=Lato:300);
body {
  background: url(/media/img/black_linen_v2.png) repeat;
  color: #aaa;
  font-size: 13pt;
  font-family: 'Lato', arial, sans-serif;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-family: 'Lato', arial, sans-serif;
}
@media screen and (min-width: 1100px) {
  body {
    width: 1100px;
  }
}
::selection {
  background-color: pink;
}
figure.polaroid { 
  width: 368px; 
  height: 376px; 
  background-image: url(/media/img/polaroid-bg.png); 
  float: left;
  margin: 20px;
}
figure.polaroid img { 
  width: 335px; 
  height: 275px; 
  margin: 25px 0 0 15px; 
}
figure.polaroid figcaption {
  text-align: center;
  font-family: Miniver,arial,sans-serif; 
  font-size: 20px; 
  color: #2E2E2E; 
  margin-top: 25px; 
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
p {
  margin: 20px 0;
}
