/* nav: 200px
 * 1000px for rest
 */
#all-but-nav {
    width: 1000px;
}
/* TODO change to ids? */
.problem__left_col {
    float: left;
    margin-right: 10px;
    padding: 5px;
}
.problem__right_col {
    float: left;
    padding: 5px;
}
#problem_summary, #fundamental_problem {
    clear: both;
}
/* TODO padding issues in first paragraph */
.half_col {
    float: left;
    width: 500px;
    box-sizing: border-box;
}
.half_col:first-child {
    padding-right: 10px;
}
.half_col:nth-child(2) {
    padding-left: 10px;
}
.in_code_half_col {
    float: left;
    width: 490px;
    box-sizing: border-box;
    padding-left: 5px;
}
.in_code_half_col:first-child {
    padding-right: 10px;
}
.in_code_half_col:nth-child(2) {
    padding-left: 10px;
}
ol {
    list-style-type: decimal;
    margin-left: 9px; /* align numbers with paragraphs */
}
li {
}

/*
 * some colors:
 * light blue: #a7dafa
 * med gray: #525762
 * dark gray: #343b4c
 * light purple: #98aced
 * blue: #6a9ee2
 * light gray: #a6a3b4
 * purple: #5f74a8
 */

.linenodiv {margin-right: 1em;}
h1, h2 {
    color: rgb(56, 64, 85);
    margin: 1em 0 0.5em;
}
h1 {font-size: 1.8em;}
h2 {font-size: 1.5em;}
h3 {
    font-size: 1em;
    margin: 0.2em 0;
}
p, li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #2B3E42;
}
p {
    margin: 27px 0; /* ~ line-height */
}
p code {
    font-size: 15px;
}
#problem_explanation {
    margin-top: -33px;
}
#first_reactions_p {
    margin-top: 0;
}
.code-background {
    background: rgba(254, 254, 254, 0.5);
    border-radius: 3px;
    padding: 5px;
    /*margin: 1em 0;*/
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
code, pre {font-size: 13px;}
code, pre {
    font-family: source-code-pro, sans-serif;
    line-height: 1.2;
}
a {
    color: rgb(158, 77, 129);
}
a:hover {
    text-decoration: underline;
}
ol {padding-left: 1em; padding-top: 0.25em;}
/* TODO too tall pages cut off the image */
body {
    color: #2B3E42;
    margin-bottom: 100px;
    margin-right: 60px;

    /* full screen non-stretched background copypasta */
    background: url(/media/img/bokeh.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* http://css-tricks.com/perfect-full-page-background-image/
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
    */
}
.c1, .ow {color: #F2583E;/*#77BED2;*/}/*equals*/
.kt {color: #747E80;}/*names*/
.kr {color: #2B3E42;}/*newtype, data*/
.haskell, .ghci {margin-top: 0.5em; margin-bottom: 1em;}


/* embedded comments */

.embedded {
    font: 13px "Helvetica Neue", sans-serif;
    color: rgb(74, 92, 85);
}

.embedded .comments {
    background-color: rgb(202, 240, 255);
    padding: 5px;
    border-radius: 2px;
}
.embedded .comments ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.embedded .comments li {
    background-color: white;
    border-radius: 2px;
    margin: 4px 0;
    padding: 2px 4px;
}

.embedded .new_comment_box {
    padding-top: 5px;
}
.embedded textarea {
    background-color: white;
    border-radius: 2px;
    border-style: none;
    color: rgb(74, 92, 85);
    font: 13px "Helvetica Neue", sans-serif;
    height: 80px;
    outline: none;
    resize: none;
    width: 100%;
}
.embedded .first_row {
    padding-right: 4px;
}
.embedded input {
    background-color: white;
    border-radius: 2px;
    border-style: none;
    color: rgb(74, 92, 85);
    font: 13px "Helvetica Neue", sans-serif;
    outline: none;
    padding: 3px 8px;
}
.embedded input[type="button"]:focus {
    border: 1px solid gray;
    padding: 2px 7px;
}

/* end embedded comments */

/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode span.kw { color: rgb(106, 121, 199); font-weight: bold; }
pre.sourceCode span.dt { color: rgb(87, 94, 95); }
/*pre.sourceCode span.dv { color: #666666; }*/
/*pre.sourceCode span.bn { color: #40a070; }*/
/*pre.sourceCode span.fl { color: #40a070; }*/
/*pre.sourceCode span.ch { color: #4070a0; }*/
pre.sourceCode span.st { color: #4070a0; }
pre.sourceCode span.co { color: #60a0b0; font-style: italic; }
pre.sourceCode span.ot { color: rgb(14, 122, 173); }
/*pre.sourceCode span.al { color: red; font-weight: bold; }*/
pre.sourceCode span.fu { color: rgb(184, 31, 74); }
/*pre.sourceCode span.re { }*/
/*pre.sourceCode span.er { color: red; font-weight: bold; }*/
