body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 1.5rem 0;
}

#all-but-nav li {
    list-style-type: circle;
}

#all-but-nav ol, #all-but-nav ul {
    padding-left: 28px;
}

#all-but-nav {
    margin-top: 150px;
}

pre, code {
    font-family: "Inconsolata", monospace;
}

/* demo stuff */
.demo {
    border-left: 5px solid rgb(252, 110, 110);
    margin: 20px 0;
    overflow: hidden;
    padding-left: 20px;
}
.demo, .demo input {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
}
.box {
    float: left;
    margin: 10px;
    padding: 10px;
    border: 1px dashed rgb(155, 155, 155);
}
.caption span {
    display: flex;
    justify-content: center;
}
.table {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
}
.relative-cell {
    padding-left: 4px;
    display: table-cell;
    position: relative;
}
.slider {
    background-color: rgb(230, 230, 239);
    border-right: 10px solid rgb(113, 106, 210);
    height: 200px;
}
.chain-container {
    width: 500px;
    height: 250px;
}
.button-box {
    margin-left: 10px;
}
.hover-circ {
    cursor: pointer;
}

pre.sourceCode {
    border-left: 5px solid #278BCC;
    color: #586e75;
    margin: 30px 0;
    padding: 10px 20px;
}
td {
    padding: 1px 10px 0;
}
thead {
    border-bottom: 1px solid rgb(218, 218, 218);
}
th.time {
    border-right: 1px solid rgb(218, 218, 218);
}
td.time {
    border-right: 1px solid rgb(218, 218, 218);
    font-family: "Inconsolata", monospace;
}

.easings {
    overflow: hidden;
}

/* KeyWordTok */
.sourceCode .kw { color: #2ba198; }
/* DataTypeTok */
.sourceCode .dt { color: #278bcc; }

/* DecValTok (decimal value), BaseNTok, FloatTok */
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #2ba198; }
/* CharTok */
.sourceCode .ch { color: #DC322F; }
/* StringTok */
.sourceCode .st { color: #2ba198; }
/* CommentTok */
.sourceCode .co { color: #839496; }
/* OtherTok */
.sourceCode .ot { color: #b58906; }
/* AlertTok */
.sourceCode .al { color: #ae3583; font-weight: bold; }
/* FunctionTok */
.sourceCode .fu { color: #2ba198; }
/* RegionMarkerTok */
.sourceCode .re { }
/* ErrorTok */
.sourceCode .er { color: #ae3583; font-weight: bold; }
