img {
  margin: 10px;
}
h1 {
  color: #ff9800;
  font-family: 'Orbitron';
  margin-top: 100px;
}
h2, h3, h4 {
  color: #7e8aa2;
  font-family: 'Orbitron';
}
h1, h2, h3, h4 {
  line-height: 1.1em;
}
a {
  color: #b1d631;
}
body {
  background-color: #202020;
  font-family: 'Ubuntu';
  color: #fff;
}
p {
  font-size: 14px;
}
@media (min-width: 800px) {
    #all-but-nav {
      width: 800px;
    }
}
img {
  display: block;
}
figure {
  float: left;
}
#fig1 img {
  margin-left: 0;
}
.divider {
  width: 100%;
  height: 20px;
  display: block;
}
#attribution {
  margin-top: 50px;
  margin-bottom: 50px;
}
#attribution p {
  font-size: 10px;
}
