<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/media/css/base.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
	<title>$title$</title>
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  $header$
</head>
<body>
	<div id="all-but-nav">
  $body$
	</div>
  <nav>
    <ul>
      <li><h4><a href="/">Home</a></h4></li>
      <li><h4><a href="/about/">About</a></h4></li>
      <li><h4><a href="/posts/">Posts</a></h4></li>
      <!--<div id="search_results"></div>-->
    </ul>
  </nav>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
$script$
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28123898-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
